{% load i18n %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&display=swap" rel="stylesheet">

    <title>Hilton Email Template</title>
    <style>
        body{font-family: 'Open Sans', sans-serif; font-weight: 400; font-style: normal; font-size: 14px; line-height: 28px;}
        table{border-collapse:collapse;}
        table tbody,table tr, table td, table th{width: 100%; display: block;}
        img, a img{border:0; outline:none; text-decoration:none;height:auto; line-height:100%;}
        a {text-decoration:none;}
        h1, h2, h3, h4, h5, h6{ font-family: 'Montserrat', sans-serif; font-weight: 600; font-style: normal; line-height:35px; text-align:Left; letter-spacing:normal; margin:0; padding:0;}
    </style>
</head>
<body style="background: url(https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-blue-atmospheric-background-image_50584.jpg) top center no-repeat; margin:0; padding:0; height:100%; width:100%; font-family: 'Open Sans', sans-serif;">
  <table border="0" cellpadding="0" cellspacing="0" style=" max-width:100% !important;width: 100% !important;min-width: 100% !important; margin:0; padding:0; width:100%;">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="600" style="width:100%; margin:30px auto; box-sizing: border-box; max-width:600px; display: block; padding: 0 20px; text-align: left;">
          <tr>
            <td valign="top">
                  <table style="width: 100%;">
                    <tr style="width: 100%;">
                      <td style="text-align: right;">
                        <img src="http://www.projectmanagementsoftware.org/logo.jpg" alt="PM" style="width: 150px; height: 35px;text-align: right;margin-top: 20px">
                      </td>
                    </tr>
                  </table>
              <table border="0" cellpadding="40px" cellspacing="0" style="background: #fff; box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); margin-top: 30px; border-radius: 5px; box-sizing: border-box; width: 100%; text-align: left;">
                <tr>
                  <td style="width: auto;">
                    <h2>Hi {{user.first_name}},</h2>
                      {% load i18n %}{% autoescape off %}
                    <p style="font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 30px;">{% blocktrans %}You're receiving this email because you've requested a password reset for your user account on the Project Management platform.{% endblocktrans %}</p>
                    <p style="font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 30px;">{% trans "Please go to the following page and choose a new password:" %}</p>
                      {% block reset_link %}
                      <p style="font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 30px;"><a href="{{ domain }}">Click here to reset your password</a></p>
                      {% endblock %}
                      <p style="font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 30px;">{% trans "Thanks for using our platform!" %}</p>
                      {% blocktrans %}
            {% endblocktrans %}
          {% endautoescape %}
                    <h4 style="margin:30px 0 0; font-size: 14px; line-height: 22px; color: #404040;">Regards, <br/> Project Management Team</h4>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>